div {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

h1 {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

p {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

button {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

span {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    border: 2px solid red;
}